body {
  background-image: url("16-bit\ background.jpg");
  background-size: contain;
  margin-top: 50px;
  font-family: Helvetica, sans-serif;
}
#haley {
  text-align: center;
  color: whitesmoke;
}
.container {

} 

article {
  background-color: whitesmoke;
  width: 50%;
  box-sizing: border-box;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 20px;
  border-radius: 10px;
  margin: 10px auto;
}
h2:hover {
  color: fuchsia;
}

h3:hover {
  color: limegreen;
}

article:hover {
  box-shadow: 0 3px 20px rgba(226, 8, 208, 0.942);

}

h1, h2 {
  color: rgba(8, 200, 226, 0.772);
  font-family: 'Press Start 2P', system-ui;
}

h3 {
  font-family: Helvetica, sans-serif;
}
